<!DOCTYPE html>
<html>
<head>
    <title>pakPOL | Password Reset Success</title>
    <link rel="icon" href="/ICONS/favicon.png" type="image/x-icon">
    <style>

        body {
            background-image: url(../IMAGES/Blood\ Strains.jpg);
            background-position: center;
            background-repeat: no-repeat;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .container_1 {
            text-align: center;
            margin-bottom: 20px;
        }

        h1 {
            font-size: 30px;
            color: rgb(117, 153, 251);
            font-weight: bolder;
        }

        p {
            font-size: 30px;
            color: rgb(117, 153, 251);
            font-weight: bolder;
            position: relative;
            left: -1%;
        }

        .below_message {
            text-align: center;
            font-size: 17px;
            color: #f48c8c;
            position: relative;
            top: 60px;
            left: -27%;
        }

        a {
            color: #918aee;
            text-decoration: underline;
        }

        a:hover {
            color: #ccc;
        }

    </style>

</head>
<body>
   
    <p><%= message %></p>
    <p class="below_message">You can now <a href="/">login</a> with your new password.</p>

   </body>
</html>
