<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pakPOL | Reset Password</title>

    <link rel="icon" href="/ICONS/police-handcuffs main favicon.png" type="image/x-icon">
    
    <style>

        body {
            background-image: url(../IMAGES/Blood\ Strains.jpg);
            background-position: center;
            background-repeat: no-repeat;
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        form {
            display: flex;
            flex-direction: column;
            background-color: rgba(255, 255, 255, 0.9); /* Transparent white background */
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            width: 350px;
            transition: box-shadow 0.3s ease; /* Adding a transition effect */
        }

        form:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Box shadow effect on hover */
        }

        label {
            margin-bottom: 8px;
            font-weight: bold;
        }

        input {
            padding: 10px;
            margin-bottom: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }

        button:active {
            background-color: #004080;
        }

    </style>


</head>
<body>
    <!-- <h1>Reset Password</h1> -->

    <% if (typeof success !== 'undefined' && success) { %>
        
        <div class="container_1" style="position: relative; top: -42px; left: 13%;">
            
            <h1 id="brandName" style="text-align: center; font-size: 44px; position: relative; top: 42px; left: -27%; color: rgb(69, 110, 223); font-weight: bolder;"><b></b></h1>
            
            <h2 id="developer" style="text-align: center; font-size: 20px; position: relative; top: 58px; left: -27%; color: rgb(255, 97, 97); font-weight: lighter;"></h2>
        </div>




    <% } else if (typeof error !== 'undefined' && error) { %>
        
        <p>E-mail or Security key may or may not be valid. Please try again later.</p>
    
    <% } else if (resetToken && user) { %>
    
        <form action="/reset-password/<%= resetToken %>" method="POST">
            
            <input type="hidden" name="resetToken" value="<%= resetToken %>">
            <label for="password">New Password:</label>
            
            <input type="password" name="newPassword" id="newPassword">
            <!-- <label for="email">Email:</label>
            <input type="email" name="email" id="email"> -->
            
            <button type="submit">Reset Password</button>
        
        </form>
    

    <% } else { %>
        
        <p><%= error %></p>

    <% } %>

    
    <script>

        const brandName = document.getElementById('brandName');
        const developer = document.getElementById('developer');
        const brandText = 'Reset Password';
        const developerText = 'Password reset E-mail has been sent. Please check your inbox!';
        const typingSpeed = 20;
    
        let brandCharIndex = 0;
        let developerCharIndex = 0;
    
        function typeBrandName() {
            
            if (brandCharIndex < brandText.length) {
                brandName.textContent += brandText.charAt(brandCharIndex);
                brandCharIndex++;
                setTimeout(typeBrandName, typingSpeed);
            }
        }
    
        
        function typeDeveloperName() {
            if (developerCharIndex < developerText.length) {
                developer.textContent += developerText.charAt(developerCharIndex);
                
                developerCharIndex++;
                setTimeout(typeDeveloperName, typingSpeed);
          }
        }


        typeBrandName();
        setTimeout(typeDeveloperName, brandText.length * typingSpeed);

      </script>
</body>
</html>

